body {
  font-family: 'Open Sans', sans-serif;
  display: flex;                /* Enable Flexbox for body */
  justify-content: center;      /* Center horizontally */
  align-items: center;          /* Center vertically */
  margin: 0;                   /* Remove default margin */
}

.page {
  padding: 50px;
  text-align: center;           /* Center text within the page */
  border-radius: 10px;         /* Optional rounded corners */
  background-color: bisque;
}

h1 {
  font-weight: 900;
  margin: 0 0 10px;            /* Adjust bottom margin */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}

.subtitle {
  margin: 0 0 20px;            /* Adjust bottom margin */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-wrapper {
  display: flex;                  
  flex-direction: row;   
  text-align: center;
}

.visualization1 {
  width: 100%;                   /* Set a width for the visualization */
  height: 520px;               /* Specify height for the visualization */
  display: flex;                /* Enable Flexbox */
  justify-content: center;      /* Center content inside the container */
  align-items: center;          /* Center items vertically */
  text-align: center;
  margin-top: 50px;
}

.description-right {
  margin-top: 5%;
  padding-left: 50px;
  width: 15%;                   /* Set a width for the description */
  height: 30%;
  text-align: right;
  margin-left: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vis-container2 {
  margin-left: 80px;
  margin-top: 80px;
}

.description-left {
  padding-left: 320px;
  width: 15%;                     /* Take half of the container's width */
  height: 30%;                    /* Set desired height */
  text-align: left;               /* Align text to the left */
  margin-top: 50px;              /* Add space at the top */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vis-container3 {
  margin-top: 100px;
  margin-left: 50px;
}