body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
  display: flex;                /* Enable Flexbox for body */
  justify-content: center;      /* Center horizontally */
  align-items: center;          /* Center vertically */
  margin: 0;                   /* Remove default margin */
}

.page {
  background-color: white;
  padding: 50px;
  text-align: center;           /* Center text within the page */
  border-radius: 10px;         /* Optional rounded corners */
}

.content-wrapper {
  display: flex;                /* Enable Flexbox for content */
  flex-direction: column;       /* Stack children vertically */
  justify-content: space-between; /* Equal spacing between children */
  align-items: center;          /* Center items horizontally */
}

h1 {
  font-weight: 900;
  margin: 0 0 10px;            /* Adjust bottom margin */
}

.subtitle {
  margin: 0 0 20px;            /* Adjust bottom margin */
}

.vis-container1 {
  width: 50%;                   /* Set a width for the visualization */
  height: 320px;               /* Specify height for the visualization */
  margin: 10px 0;              /* Equal vertical margin */
}

.vis-container2 {
  width: 50%;                   /* Set a width for other visualizations */
  height: 400px;               /* Specify height */
  margin: 50px 0;              /* Equal vertical margin */
}

.vis-container3 {
  width: 50%;                   /* Set a width for the element */
  height: 500px;                /* Specify height */
  margin: 50px 0;               /* Equal vertical margin */
  margin-left: 600px;            /* Push the element to the right */
}

.description-right {
  width: 50%;                   /* Set a width for the description */
  margin: 20px 0;              /* Equal vertical margin */
  height: 80%;
  text-align: right;
}

.description-left {
  width: 50%;
  height: 80%;
  text-align: left;
}

.heading {
  text-align: right;
  height: 150px;
}

